[Unit]
Description=Run plant monitoring and controlling API service on boot
After=default.target

[Service]
ExecStart=/home/pi/Plant-Monitoring-Controlling-V2/start-api.sh

[Install]
WantedBy=default.target